.btn-group {
    display: flex;
    align-items: baseline;
    font-size: smaller;
    gap: 10px;
    label {
        font-size: smaller;
    }
    .btn {
      border-top-left-radius: 5px !important;
      border-bottom-left-radius: 5px !important;
    }
    .dropdown-toggle, .dropdown-menu {
      font-size: smaller;
    }
    .dropdown-toggle {
        box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.15);
      }
    .dropdown-menu {
      min-width: max-content;
      right: 0 !important;
     }
  
  }
