<div class="container-fluid">
    <div class="d-flex align-items-start justify-content-between mt-3 mb-1">
        <h5 class="h5 mb-0 text-gray-800"><img src="assets/svg/brand3.svg" width="150px" /></h5>
        <div class="d-flex align-items-end gap-3 fiscal-year">
            <app-dropdown [options]="yearDropdownItems" (changeEmit)="yearChanged($event)"
                [selectedOption]="selectedYear" label="Fiscal year"></app-dropdown>
            <app-dropdown [options]="monthDropdownItems" (changeEmit)="monthChanged($event)"
                [selectedOption]="selectedMonth" label="Month"></app-dropdown>
            <app-dropdown [options]="employeeDropdownItems" (changeEmit)="changeEmployee($event)"
                [selectedOption]="selectedEmployee" label="Employee"></app-dropdown>
        </div>
    </div>

    <div class="row">
        @for(tile of tiles; track tile) {
        <div class="col-xl-3 col-md-6 mb-3">
            <app-tile [tileInput]="tile"></app-tile>
        </div>
        }
    </div>

    <div class="row">
        <div class="col-xl-3 col-lg-3">
            <div class="card shadow mb-3">
                <div class="card-header py-1 d-flex border-0 flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">SR & ED vs Regular hours</h6>

                </div>
                <div class="card-body p-0">
                    @if(sredVsRegular.length > 0) {
                    <app-pie-chart [pieChartData]="sredVsRegular" [percent]="pieChartPercent"></app-pie-chart>
                    }
                </div>
            </div>
        </div>

        <div class="col-xl-7 col-lg-7">
            <div class="card shadow mb-3 emp-summary">
                <div class="card-header py-1 d-flex border-0 flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Employee Summary</h6>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                        <label class="form-check-label" for="flexSwitchCheckChecked">Timesheets</label>
                    </div>

                </div>
                <div class="card-body p-0">
                    <app-bar-chart-stacked yAxisLabel="Hours" xAxisLabel="Months" [barChartData]="groupedBarData"></app-bar-chart-stacked>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-2">
            <div class="card shadow mb-3">
                <div class="card-header pt-1 pb-2 border-0 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Active integrations</h6>
                </div>
                <div class="card-body px-0 py-0">
                    <app-active-integrations></app-active-integrations>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Project hours</h6>
                </div>
                <div class="card-body">
                    <app-bar-chart-stacked yAxisLabel = "Hours" xAxisLabel="Projects" [view] = "[600, 250]" [barChartData]="projectsBarChartData"></app-bar-chart-stacked>

                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Employees</h6>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                          </tr>
                        </thead>
                        <tbody class="table-group-divider">
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>fat</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>John</td>
                            <td>Doe</td>
                            <td>social</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>

</div>