::ng-deep {
  .ngx-charts-outer {
    margin: 0;
  }
}
.parent{
    display: flex;
    justify-content: space-around;
}
.barchart-container {
    max-width: 600px;
    overflow-x: scroll;
}

.custom-legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 8px;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
  }
  
  .legend-color {
    width: 14px;
    height: 14px;
    margin-right: 6px;
    border-radius: 50%;
  }
  
